## Selecting Columns

In [1]:
import pandas as pd

In [3]:
hero = pd.read_pickle('hero.pkl')

In [4]:
hero['height']

0      185
1      185
2      180
3      257
4      183
      ...
532    155
533    175
534    183
535    165
536    305
Name: height, Length: 537, dtype: int64

In [5]:
hero['name']

0             Abin Sur
1         Adam Strange
2           Alan Scott
3                Amazo
4           Animal Man
            ...
532               X-23
533              X-Man
534       Yellowjacket
535    Yellowjacket II
536               Ymir
Name: name, Length: 537, dtype: string

In [6]:
type(hero['name'])

pandas.core.series.Series

In [7]:
hero['name'].head(5)

0        Abin Sur
1    Adam Strange
2      Alan Scott
3           Amazo
4      Animal Man
Name: name, dtype: string

In [8]:
hero['name'].shape

(537,)

In [9]:
## Can use this method to call a column but isn't the most widly accepted version. hero['height'] is
hero.height

0      185
1      185
2      180
3      257
4      183
      ...
532    155
533    175
534    183
535    165
536    305
Name: height, Length: 537, dtype: int64

In [10]:
hero[['name','weight','height']]

                name  weight  height
0           Abin Sur    90.0     185
1       Adam Strange    88.0     185
2         Alan Scott    90.0     180
3              Amazo   173.0     257
4         Animal Man    83.0     183
..               ...     ...     ...
532             X-23    50.0     155
533            X-Man    61.0     175
534     Yellowjacket    83.0     183
535  Yellowjacket II    52.0     165
536             Ymir   -99.0     305

[537 rows x 3 columns]

In [11]:
type(hero[['name','weight','height']])

pandas.core.frame.DataFrame

In [13]:
# Select all number columns
hero.select_dtypes(include = 'number')

     height  weight
0       185    90.0
1       185    88.0
2       180    90.0
3       257   173.0
4       183    83.0
..      ...     ...
532     155    50.0
533     175    61.0
534     183    83.0
535     165    52.0
536     305   -99.0

[537 rows x 2 columns]

In [15]:
# Select all non-number column types
hero.select_dtypes(exclude = 'number')

,name,gender,eye color,race,hair color,publisher,alignment,hero names,agility,accelerated healing,...,web creation,reality warping,odin force,symbiote costume,speed force,phoenix force,molecular dissipation,vision - cryo,omnipresent,omniscient
0,Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,good,Abin Sur,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Adam Strange,Male,blue,Human,Blond,DC Comics,good,Adam Strange,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Alan Scott,Male,blue,-,Blond,DC Comics,good,Alan Scott,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Amazo,Male,red,Android,-,DC Comics,bad,Amazo,True,False,...,False,False,False,False,False,False,False,False,False,False
4,Animal Man,Male,blue,Human,Blond,DC Comics,good,Animal Man,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,X-23,Female,green,Mutant / Clone,Black,Marvel Comics,good,X-23,True,True,...,False,False,False,False,False,False,False,False,False,False
533,X-Man,Male,blue,-,Brown,Marvel Comics,good,X-Man,False,False,...,False,False,False,False,False,False,False,False,False,False
534,Yellowjacket,Male,blue,Human,Blond,Marvel Comics,good,Yellowjacket,False,False,...,False,False,False,False,False,False,False,False,False,False
535,Yellowjacket II,Female,blue,Human,Strawberry Blond,Marvel Comics,good,Yellowjacket II,False,False,...,False,False,False,False,False,False,False,False,False,False
536,Ymir,Male,white,Frost Giant,No Hair,Marvel Comics,good,Ymir,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
## Selects only ints and category columns
hero.select_dtypes(include=['int64','category'])

     gender  height alignment
0      Male     185      good
1      Male     185      good
2      Male     180      good
3      Male     257       bad
4      Male     183      good
..      ...     ...       ...
532  Female     155      good
533    Male     175      good
534    Male     183      good
535  Female     165      good
536    Male     305      good

[537 rows x 3 columns]

In [19]:
hero.select_dtypes(include=['int64','category']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gender     537 non-null    category
 1   height     537 non-null    int64
 2   alignment  537 non-null    category
dtypes: category(2), int64(1)
memory usage: 5.7 KB